@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

  font-family: "ubuntu";
}

.back-img {
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  /*   background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.main {
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
}

div.avatar {
  background-image: url("https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  object-fit: cover;
}

p.super-small {
  font-size: 10px;
}

#test::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='50' r='40' stroke='black' stroke-width='2' fill='red'/%3E%3Cpolyline points='20,20 40,25 60,40 80,120 120,140 200,180' style='fill:none;stroke:black;stroke-width:3'/%3E%3C/svg%3E ");
  width: 200px;
  height: 200px;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

#experience-container::before {
  content: "";
  z-index: -1;
  animation: expand 3s;
}

@media (min-width: 768px) {
  #experience-container::before {
    animation: expand 5s;
    z-index: -1;
  }
}

li::before {
  content: "• ";
  color: white; /* or whatever color you prefer */
}
